body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
}

label, input, span {
    margin: 10px 0;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0,123,255,.5);
}

span {
    color: red;
    font-weight: bold;
}